@model UCP1_PAW_054_A.Models.Transaksi

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transaksi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCustomer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCustomer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProduk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProduk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalTransaksi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalTransaksi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdTransaksi">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
