@model IEnumerable<UCP1_PAW_054_A.Models.Produk>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Nama produk")
            </th>
            <th>
                @Html.DisplayName("quantitiy")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamaProduk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantitiy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProduck"><i class="fa fa-marker fa-lag"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdProduck"><i class="fas fa-list"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdProduck"><i class="fa fa-trash-alt fa-lag"></i></a>|
            </td>
        </tr>
}
    </tbody>
</table>
